.game {
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: end;
  flex-direction: row;
}

.game__canvas__field {
  position: relative;
}

.game__canvas_field-bullet {
  position: absolute;
  box-sizing: content-box;
  background: linear-gradient(
    to right,
    var(--grey-color) 0% 25%,
    var(--white-color) 25% 40%,
    var(--grey-color) 50% 100%
  );
  border: 4px solid black;
  border-radius: 20%;
  width: 30px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bullet__edge {
  width: 26px;
  height: 4px;
  background: linear-gradient(
    to right,
    var(--grey-color) 0% 25%,
    var(--white-color) 25% 40%,
    var(--grey-color) 50% 100%
  );
  border: 3px solid black;
  box-sizing: content-box;
}

.bullet-one {
  bottom: 5%;
  left: -10px;
}

.bullet-two {
  bottom: 5%;
  right: -10px;
}

.bullet-three {
  bottom: 30%;
  left: -10px;
}

.bullet-four {
  bottom: 30%;
  right: -10px;
}

.bullet-five {
  bottom: 55%;
  left: -10px;
}

.bullet-six {
  bottom: 55%;
  right: -10px;
}

.bullet-seven {
  bottom: 80%;
  left: -10px;
}

.bullet-eight {
  bottom: 80%;
  right: -10px;
}

.bullet-horizontal {
  transform: rotate(90deg);
}

.bullet-nine {
  top: -44px;
  left: 25%;
}

.bullet-ten {
  top: -44px;
  right: 25%;
}

#game-canvas {
  background-color: var(--dark-blue-color);
  border-top: 20px solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-image: repeating-linear-gradient(
      90deg,
      var(--light-grey-color) 0%,
      var(--light-grey-color) 0.5%,
      var(--grey-color) 1.5%,
      var(--grey-color) 97%,
      var(--light-grey-color) 97%,
      var(--light-grey-color) 97.5%,
      var(--grey-color) 98.5%,
      var(--grey-color) 100%
    )
    20;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 700px;
  height: 900px;
  display: block;
  background-image: url("/images/background.png");
  background-size: cover;
}

.game__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  height: 1000px;
  padding-left: 10px;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.game__info__score {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.game__info__score-title {
  color: var(--red-color);
}

.game__info__score-number {
  justify-self: flex-end;
}

#score-current {
  animation: blink 0.5s linear alternate infinite;
}

.game__info__lives {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.lives__title {
  color: var(--red-color);
}

.round__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.round__info-title {
  color: var(--red-color);
}

@keyframes blink {
  0% {
    color: var(--red-color);
  }
  49% {
    color: var(--red-color);
  }
  50% {
    color: transparent;
  }
  100% {
    color: transparent;
  }
}
