.menu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.score {
  font-size: 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
  padding-top: 2rem;
  cursor: auto;
}

.score__current {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2.5rem;
}

.score__global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2.5rem;
}

.score__title {
  color: var(--red-color);
}

.game__title {
  position: relative;
}

.game__title-lattice {
  position: absolute;
  top: 33px;
  right: 212px;
}

.game__title-line {
  position: absolute;
  background-color: var(--pink-color);
}

.horizontal-line {
  height: 4px;
}

.vertical-line {
  width: 4px;
}

.line-one {
  width: 60px;
  top: 20px;
}

.line-two {
  width: 40px;
  top: 34px;
  left: 10px;
}

.line-three {
  width: 40px;
  top: 6px;
  left: 10px;
}

.line-four {
  height: 44px;
  left: 20px;
}

.line-five {
  height: 44px;
  left: 35px;
}

.line-six {
  height: 24px;
  left: 4px;
  top: 10px;
}

.line-seven {
  height: 24px;
  left: 52px;
  top: 10px;
}

.game__title-text {
  font-family: "arkanoid";
  font-size: 7rem;
  background: linear-gradient(
    to bottom,
    var(--dark-blue-color) 0% 55%,
    var(--pink-color) 55% 65%,
    var(--white-color) 65% 100%
  );
  background-clip: text;
  color: transparent;
  display: inline-block;
  letter-spacing: 0.3rem;
}

.game__start__button {
  background-color: transparent;
  border: none;
  font-size: 2.5rem;
  position: relative;
  cursor: pointer;
  animation: startbutton 1s linear alternate infinite;
}

.game__start__button:hover::before {
  content: "▶";
  color: var(--white-color);
  top: -10%;
  left: -20%;
  position: absolute;
}

.game__start__button:hover {
  animation: none;
}

.authors {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.autors__company {
  font-size: 5.5rem;
  color: var(--red-color);
}

.autors__copyright {
  font-size: 2.5rem;
  line-height: 5rem;
  text-align: center;
}

@keyframes startbutton {
  from {
    color: var(--white-color);
  }
  to {
    color: transparent;
  }
}
